@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
}

#centre {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -182px;
  width: 364px;
  z-index: 9;
}
#centreUnder {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -182px;
  width: 364px;
  z-index: 8;
}

#bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-image: url(../Images/seam4.jpg);
  z-index: 10;
}

#floatL {
  float: left;
  width: 50%;
  z-index: 2;
}

#floatR {
  float: right;
  width: 50%;
  z-index: 1;
}
